<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyNewTheme</title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="~/theme/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/theme/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/theme/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/theme/assets/vendors/jquery-bar-rating/css-stars.css" />
    <link rel="stylesheet" href="~/theme/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/theme/assets/css/demo_1/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/theme/assets/images/favicon.png" />
</head>
<body>

    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="main-panel">
                @RenderBody()

                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-4 offset-4">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                <span class="text-muted text-center text-sm-center d-block d-sm-inline-block">Copyright © 2020 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/theme/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/theme/assets/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
    <script src="~/theme/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/theme/assets/vendors/flot/jquery.flot.js"></script>
    <script src="~/theme/assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="~/theme/assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="~/theme/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="~/theme/assets/vendors/flot/jquery.flot.stack.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/theme/assets/js/off-canvas.js"></script>
    <script src="~/theme/assets/js/hoverable-collapse.js"></script>
    <script src="~/theme/assets/js/misc.js"></script>
    <script src="~/theme/assets/js/settings.js"></script>
    <script src="~/theme/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/theme/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
